body{
  background-color: rgb(231, 231, 231);
}

.add{
  position: absolute;
  right: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: orange;
  cursor: pointer
  }

.addp{
  display: inline-block;
  margin: 10px 10px 0 0;
  padding: 18px 32px; 
}

.add:hover{
  opacity: 0.7;
}